ToDoList/bin/Debug/net9.0/appsettings.Development.json
ToDoList/bin/Debug/net9.0/appsettings.json
ToDoList/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
ToDoList/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
ToDoList/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.dll
ToDoList/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.InMemory.dll
ToDoList/bin/Debug/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
ToDoList/bin/Debug/net9.0/Microsoft.Extensions.Caching.Memory.dll
ToDoList/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ToDoList/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
ToDoList/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
ToDoList/bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
ToDoList/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
ToDoList/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
ToDoList/bin/Debug/net9.0/Microsoft.OpenApi.dll
ToDoList/bin/Debug/net9.0/Swashbuckle.AspNetCore.Swagger.dll
ToDoList/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerGen.dll
ToDoList/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerUI.dll
ToDoList/bin/Debug/net9.0/ToDoList.deps.json
ToDoList/bin/Debug/net9.0/ToDoList.dll
ToDoList/bin/Debug/net9.0/ToDoList.exe
ToDoList/bin/Debug/net9.0/ToDoList.pdb
ToDoList/bin/Debug/net9.0/ToDoList.runtimeconfig.json
ToDoList/bin/Debug/net9.0/ToDoList.staticwebassets.endpoints.json
ToDoList/obj/project.assets.json
ToDoList/obj/project.nuget.cache
ToDoList/obj/ToDoList.csproj.nuget.dgspec.json
ToDoList/obj/ToDoList.csproj.nuget.g.props
ToDoList/obj/ToDoList.csproj.nuget.g.targets
ToDoList/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
ToDoList/obj/Debug/net9.0/0d92d782-1b2b-41be-8004-a74449a72f47_ToDoList.pdb
ToDoList/obj/Debug/net9.0/79bbb46f-3a7a-4cbc-9c03-1cf48cacad46_ToDoList.pdb
ToDoList/obj/Debug/net9.0/apphost.exe
ToDoList/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
ToDoList/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
ToDoList/obj/Debug/net9.0/rpswa.dswa.cache.json
ToDoList/obj/Debug/net9.0/staticwebassets.build.endpoints.json
ToDoList/obj/Debug/net9.0/staticwebassets.build.json
ToDoList/obj/Debug/net9.0/staticwebassets.build.json.cache
ToDoList/obj/Debug/net9.0/staticwebassets.removed.txt
ToDoList/obj/Debug/net9.0/ToDoList.AssemblyInfo.cs
ToDoList/obj/Debug/net9.0/ToDoList.AssemblyInfoInputs.cache
ToDoList/obj/Debug/net9.0/ToDoList.assets.cache
ToDoList/obj/Debug/net9.0/ToDoList.csproj.AssemblyReference.cache
ToDoList/obj/Debug/net9.0/ToDoList.csproj.CoreCompileInputs.cache
ToDoList/obj/Debug/net9.0/ToDoList.csproj.FileListAbsolute.txt
ToDoList/obj/Debug/net9.0/ToDoList.csproj.Up2Date
ToDoList/obj/Debug/net9.0/ToDoList.dll
ToDoList/obj/Debug/net9.0/ToDoList.GeneratedMSBuildEditorConfig.editorconfig
ToDoList/obj/Debug/net9.0/ToDoList.genruntimeconfig.cache
ToDoList/obj/Debug/net9.0/ToDoList.GlobalUsings.g.cs
ToDoList/obj/Debug/net9.0/ToDoList.MvcApplicationPartsAssemblyInfo.cache
ToDoList/obj/Debug/net9.0/ToDoList.MvcApplicationPartsAssemblyInfo.cs
ToDoList/obj/Debug/net9.0/ToDoList.pdb
ToDoList/obj/Debug/net9.0/ref/ToDoList.dll
ToDoList/obj/Debug/net9.0/refint/ToDoList.dll
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/.tsbuildinfo
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/com.chrome.devtools.json
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/_metadata.json
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/@angular_core.js
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/@angular_core.js.map
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/@angular_forms.js
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/@angular_forms.js.map
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/@angular_platform-browser.js
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/@angular_platform-browser.js.map
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/@angular_router.js
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/@angular_router.js.map
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/chunk-AOWH7Y7H.js
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/chunk-AOWH7Y7H.js.map
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/chunk-ILJG3AZR.js
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/chunk-ILJG3AZR.js.map
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/chunk-R6HBJOM5.js
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/chunk-R6HBJOM5.js.map
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/chunk-WDMUDEB6.js
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/chunk-WDMUDEB6.js.map
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/package.json
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/zone__js.js
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps/zone__js.js.map
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps_ssr/_metadata.json
ToDoListClient/.angular/cache/20.1.4/ToDoListClient/vite/deps_ssr/package.json
